/*日本語部分NotoSerifJP英字部分PlayfairDisplay*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/*　全体　*/
div#wrapNews{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #25283B;
    font-family: "Noto Sans JP",serif;
    color: white;
}
/*　タイトル　*/
h2#newsTitle{
    margin: 5% auto;
    font-family: Playfair Display,serif;
    font-weight: bold;
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 20px #fff, 0 0 15px #1877F2, 0 0 10px #1877F2;


}

div.articles{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

/*　記事単体の設定　*/
div.art{
    padding: 0 1.5rem;
    transition: 0.1s;
}
div.art:hover{
    text-shadow:0 0 15px #fff, 0 0 10px #fff;
}
/*　画像部分　imgタグに変わると思うのでクラスのみ　*/
.artImg{
    width: 240px;
    height: 168px;
}
.artTitle{
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
    text-align: center;
}
