
.articles{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

/*　記事単体の設定　*/
div.art{
    padding: 0 1.5rem;
    transition: 0.1s;
}

/*　画像部分　imgタグに変わると思うのでクラスのみ　*/
.artImg{
    width: 200px;
    height: 300px;
}
.artTitle{
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
    text-align: center;
}
