div#scheduleBody{
    width: 90%;
    margin: 25px auto 0 auto;

}

h1#scheduleTitle{
    font-size: 2rem;
}

/* スライダー全体 見た目だけ　*/
div#dateSlider{
    width: 100%;
    margin: 0 auto 2rem auto;
    display: inherit;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*align-items: center;*/

    font-size: 1.5rem;
    font-weight: bold;
}

/*Swiper設定*/
.swiper-wrapper{
    justify-content: center;
}
.swiper-slide{
    width: 105px;
}
/* ボタン全体 */
div#dateSlider button{
    border-radius: 5%;
    transition: 0.2s;

}
div#dateSlider button:hover{
    opacity: 0.8;
}



/* 左右 */
button.dateSlide{
    padding: 10px;
    background-color: #1877F2;
    color: #fff;
    font-size:2rem;
    height: 68px;
    z-index: 2;
}
button.dateSlide#left{
    position: absolute;
    left: 75px;
}
button.dateSlide#right{
    position: absolute;
    right: 75px;
}
/*　日付部分　*/
div#dateList{
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 90%;
    height: 68px;
}

button.scDate{
    padding: 10px 25px;
    margin: 0 15px;
    background-color: #fff;
    color: #25283B;
}



/* 時間表示部分 */
div#timeList{
    margin: 0 auto 50px auto;
    transition: 1s;

}

/* 以下コンポーネント化検討中 */

div.CinemaTL{
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px 25px;
}

/* ポスターが入る空間 */
div.CinemaTL div.Poster{
    display: block;
    margin: 0 30px 0 0;
    width: 130px;
    height: 175px;
}
div.CinemaTL h2{
    display: inline-block;
    font-size: 1.5rem;
    margin: 15px 0 1rem 0;
}

div.Movie-TL{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 0 0 0;
}
/* ボタン部分のdiv */
div.TLbuttons{
    flex-wrap: wrap;
    width: 80%;
}

button.Time{
    margin: 0 20px 20px 0;
    text-align: left;
    font-size: 1rem;
    padding: 0 15px;
    border-radius: 5%;
    background-color: #1877F2;
    color: #fff;
    transition: 0.2s;
}
button.Time:hover{
    opacity: 0.8;
}
/* 時刻部分 */
button.Time span{
    text-align: center;
    font-size:1.25rem;
    font-weight: bold;
}

@media screen and (max-width: 1500px){

    div#dateSlider{
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .swiper-wrapper{
        justify-content: flex-start;
    }
    .swiper-slide{
        width: 105px;
    }
}

@media screen and (max-width: 950px){
    button.dateSlide#left{
        position: absolute;
        left: 50px;
    }
    button.dateSlide#right{
        position: absolute;
        right: 50px;
    }
}

@media screen and (max-width: 950px){
    button.dateSlide#left{
        position: absolute;
        left: 50px;
    }
    button.dateSlide#right{
        position: absolute;
        right: 50px;
    }
}
@media screen and (max-width: 550px){
    button.dateSlide#left{
        position: absolute;
        left: 25px;
    }
    button.dateSlide#right{
        position: absolute;
        right: 25px;
    }
}

@media screen and (max-width: 350px){
    button.dateSlide#left{
        position: absolute;
        left: 5px;
    }
    button.dateSlide#right{
        position: absolute;
        right: 5px;
    }
}
