/*テーブル部分の定義*/
table#payList{
    border-collapse:collapse;
}
table#payList tr{
    margin: 0 0 10px 0;
    border: #fff solid  2px;
}
table#payList th{
    width: 8rem;
    padding: 10px 20px;
    background-color: #555;
}
table#payList td{
    padding: 10px 20px 10px 10px;
    color: #25283B;
}